@import "../../../../constants/colors.constants";
@import "../../../../constants/general.constants";

.root {
  width: 100%;
  height: $footer-height;
  background-color: $black_basic;
  color: $white_basic;
  display: flex;
  justify-content: center;
  align-items: center;
}
